*, *::after, *::before {
	box-sizing: border-box;	
} 

body {
max-width: 1600px;
height: 2275px;
padding: 0 78px 0 78px;
background: #FFFFFF;
font-family: Nunito;
	
}

.wrapper {
	max-width: 1425px;
}

header {
width: 100%;
height: 156px;

}


.navbar {
	width: 1425px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	

}

.main-menu {
	margin-right: 710px;
	margin-top: 44px;	
}

.logo {
    margin-left: 42px;
    margin-top: 18px;
   
}

.logo svg {
   
    height: 91px;
   
}
.navbar a {
	
	font-size: 12px;
	color: #5C5C60;
	padding:0 0 0 0;
	font-family: Nunito;
	line-height:  17px;
	text-align: left;
	font-weight: bold;

}

.icons-menu {
	width: 100%;
	height: 102px;
	margin-left: 85px;
	margin-right: -441px;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
}




.franchise {
	height: 102px;
	display: flex;
	justify-content: space-between;
	width: 402px;
	height: 22px;
	padding: 32px 17px 0px 0px;
	margin-top: -28px;
	margin-right: 53px;
	margin-left: 0;
	
}

.franchise a {
	text-transform: capitalize;
	font-size: 18px;
	text-align: right;
	line-height: 22px;
	padding-right: 41px;
	padding-left: 10px;
	color:  #5C5C60;
	letter-spacing: 1px;
}


li {
	
	list-style: none;
	display: flex;
	

}


a {
	text-decoration: none;
	text-transform: uppercase;

}





ul {
	display: flex;
	justify-content: space-between;
}

.line-anmel {
	position: absolute;
	top:0;
	left: 916px;
	width: 0;
	height: 195px;
	border: 1px solid  #E4E7E7;
}

.anmel {
	display: block;
	padding-left: 12px;
	padding-right: 80px;

}

.anmel svg {
	width: 32px;
    height: 34px;
    position: relative;
    top: -7px;
    left: -52px;
}

.anmel p {
	position: absolute;
	top: 68px;
	left: 967px;
	font-size: 14px;
	
}
.line-favoriten{
	position: absolute;
	top:0;
    left: 1086px;
	width: 0;
	height: 195px;
	border: 1px solid  #E4E7E7;
}

.favoriten{
	display: block;
	padding-right: 3px;
	

}

.favoriten svg {
    width: 36px;
    height: 34px;
    position: relative;
    top: -9px;
    left: -7px;
}

.circle-1 {
	width: 23px;
	height: 23px;
	border-radius: 50%;
	background:  #3CD52E;
	position: absolute;
	top: 27px;
    left: 1178px;
	text-align: center;
	z-index: 1;	
}

.circle-99 {
	width: 23px;
	height: 23px;
	border-radius: 50%;
	background:  #3CD52E;
	position: absolute;
	top: 27px;
    left: 1342px;
	text-align: center;
	z-index: 1;	
}

.circle-1 a {
	color: #fff;
}


.circle-99 a {
	color: #fff;
}

.favoriten p {
    position: absolute;
    top: 68px;
    left: 1133px;
    font-size: 14px;
}

.line-warenkorb {
	position: absolute;
	top:0;
	left: 1231px;
	width: 0;
	height: 195px;
	border: 1px solid  #E4E7E7;
}

.line-warenkorb-after{
	position: absolute;
	top:0;
	left: 1404px;
	width: 0;
	height: 195px;
	border: 1px solid  #E4E7E7;
}

.warenkorb{
	display: block;
	padding-right: 3px;
	

}

.warenkorb svg {
	width: 34px;
    height: 34px;
	position: relative;
	top: -9px;
	left: 121px;
	
}

.warenkorb p {
	position: absolute;
    top: 68px;
    left: 1293px;
    font-size: 14px;	
}

.header-bottom {
	max-width: 1450px;
    height: 75px;
    background: #f3f5f5;
    margin-left: -59px;
    margin-top: -39px;
    padding-right: 0;
}

.input-freiburg {
	 font-family: Nunito;
    width: 349px;
    height: 74px;
    background: transparent url('./img/arrow.png') no-repeat 298px;
    font-size: 18px;
    color: #5C5C60;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    padding: 22px 8px 18px 29px;
    margin-left: 888px;
    margin-bottom: 0;
    border: 1px solid #E4E7E7;
    border-right: none;
    border-left: none;
}

.input-de  {
	font-family: Nunito;
    width: 75px;
    height: 74px;
    background: transparent url(./img/arrow.png) no-repeat 61px;
    font-size: 18px;
    color: #5C5C60;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    padding: 22px 8px 17px 24px;
    margin-left: -37px;
    margin-bottom: 0;
    border: 1px solid #E4E7E7;
    border-left: none;
}

.input-search {
    width: 130px;
    height: 74px;
    background: transparent url(./img/search.png) no-repeat 53px;
    background-size:26px 18px;
    font-size: 18px;
    color: #5C5C60;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    padding: 22px 8px 17px 24px;
    margin-left: -12px;
    margin-bottom: 0;
    border: 1px solid #E4E7E7;
    border-left: none;
    border-right: none;
}

.group-start {
	width: 432px;
	height: 25px;
	margin-top: 56px;
	margin-left: 36px;
	color: #5C5C60;
	
}

.group-start a {
	padding-right: 8px;
}


.group-start span {
	padding: 0 6px 0 6px;
}

h1 {
	font-size: 34px;
	color: #858587;	
	font-weight: normal;
	line-height: 1;
	padding-left: 31px;
}

h1 > span {
	font-size: 18px;
	color: #85e47c;
	text-decoration: underline;
	float: left;
	padding-top: 10px;

}

p.art {
	font-size: 18px;
	color: #ACACAC;
	font-weight: lighter;
	float: right;
	position: absolute;
	top: 242px;
    left: 1253px;

}

.card-count {
	width: 480px;
	height: 434px;
	border: 1px solid #E4E7E7;
	position: absolute;
	top: 343px;
    left: 584px;
}

.cards-avocado-1 img {
	position: absolute;
	top: 343px;
    left: 107px;
}

.evro {
	font-size: 18px;
	color: #ACACAC;
	text-align: left;
	padding-left: 13px;
	padding-right: 330px;
}

.active {
	width: 8px;
	height: 8px;
	background: #3CD52E;
	border-radius: 50%;
	position: absolute;
	top: 22px;
    left: 373px
}

.available {
	font-size: 16px;
	color: #5C5C60;
	text-align: right;
	
}

.evro-119 {
	font-size: 30px;
	color: #5C5C60;
	padding-left: 13px;
	padding-right: 184px;
}

.gram {
	font-size: 16px;
	color:#ACACAC ;
}

.heart {
	display: block;
	position: absolute;
	top: 107px;
    left: 17px;
}

.plus-minus  {
	display: block;
	position: absolute;
	top: 108px;
    left: 77px;
}

.input-warencorb {
	display: block;
	position: absolute;
	top: 98px;
    left: 204px;
}

.line-card-1 {
	width: 480px;
	height: 1px;
	background: #E4E7E7;
	position: absolute;
	top: 206px;
    left: -4px;
}

.schwarzer{
	font-size: 16px;
	color: #5C5C60;
	margin-top: 139px;
	margin-left: 10px;
	line-height: 2.4;
}

.zoom {
	position: absolute;
	top: 740px;
    left: 521px;
}


.container-tabs {
	position: absolute;
	top:846px;
	left: 20px;
}

.tabs-links li {
	padding-right: 125px;
}

.tabs-links a {
	font-size: 20px;
	text-transform: none;
	color: #5C5C60;
}

.tabs-links-line {
	width: 1415px;
	height: 1px;
	background: #E4E7E7;
	position: absolute;
	top: 48px;
	left: 39px;
	z-index: -1;

}

a.nahr-green {
	color: #3CD52E;

}

table {
	width: 720px;
	color: #5C5C60;
	font-size: 18px;
	margin-left: 37px;
}

table th {
	font-size: 18px;
	font-weight: normal;
	text-align: left;
}

table tr {
	height: 48px;
}

 tr:nth-child(even) {
	background-color: #FBFBFB;
}

.additional p {
	width: 647px;
	margin-left: 37px;
	line-height: 1.6;
}

.similar {
	width: 1425px;
}

.cards-slide {
	width: 1281px;
	height: 341px;
	display: grid;
	grid-template-columns: auto auto auto auto;
}

.avocado-box {
	width: 273px;
	height: 341px;
	border: 1px solid  #FBFBFB;
	padding-left: 10px;
}

.avocado-box img {
	padding-left: 10px;
	padding-top: 15px;
}

.avocado-box h4 {
	font-size: 14px;
	color: #5C5C60;
	padding-left: 10px;
}

.avocado-box p {
	font-size: 14px;
	color: #ACACAC;
	padding-left: 10px;
}

.avocado-box p>span {
	font-size: 12px;
	color: #ACACAC;
	padding-left: 3px;
}
.price {
	color: #5C5C60!important;
	font-size: 18px!important;
}
.icon-basket-1 {
	position: absolute;
	top: 937px;
    left: 219px;
}

.icon-basket-2 {
	position: absolute;
	top: 937px;
    left: 530px;
}

.icon-basket-3 {
	position: absolute;
	top: 937px;
    left: 852px;
}

.icon-basket-4 {
	position: absolute;
	top: 937px;
    left: 1169px;
}

.avocado-plus-minus-1 {
	position: absolute;
	top: 937px;
    left: 112px;
}

.avocado-plus-minus-2 {
	position: absolute;
	top: 937px;
    left: 419px;
}

.avocado-plus-minus-3 {
	position: absolute;
	top: 937px;
    left: 739px;
}

.avocado-plus-minus-4 {
	position: absolute;
	top: 937px;
    left: 1059px;
}

.icon-heart-1 {
	position: absolute;
	top: 662px;
    left: 234px;
}


.icon-heart-2 {
	position: absolute;
	top: 662px;
    left: 549px;
}


.icon-heart-3 {
	position: absolute;
	top: 662px;
    left: 870px;
}


.icon-heart-4 {
	position: absolute;
	top: 662px;
	left: 1189px;
}